---
---

@import "{{ site.theme }}";

header {
  width:370px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}
